{erl_opts, [debug_info]}.
{deps, [
	{katja, "0.10.0"}
       ]}.

{alias, [
    {check, [xref,
             {eunit, "-c"},
             {ct, "-c"},
             {cover, "-v --min_coverage=80"}]}
]}.

{profiles, [
            {test, [{plugins, [coveralls]}]}
           ]
}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "travis-ci"}.

{edoc_opts, [
             {def, [
                    {version, "0.8.2"},
                    {years, "2014-2016"}
                   ]}
            ]}.

{shell, [
         % {config, "config/sys.config"},
         {apps, [katja_vmstats]}
        ]}.
