{pre_hooks, [{clean,         "gmake clean"},
             {compile,       "gmake app"},
             {ct,            "gmake tests"},
             {'delete-deps', "gmake distclean"},
             {doc,           "gmake docs"},
             {eunit,         "gmake tests"},
             {'get-deps',    "gmake deps"},
             {'list-deps',   "grep DEPS Makefile | cut -d '=' -f 2 | tr ' ' '\n' | xargs -n1 -I '{}' grep '{}' .erlang.mk.packages.* | sort -u"},
             {'list-deps',   "grep dep_ Makefile | cut -d '_' -f 2 | tr -d '=' | sort -u"},
             {'update-deps', "gmake deps"}
            ]}.
