{deps, [
  {noesis, ".*", {git, "git://github.com/nifoc/noesis", "development"}},
  {katja, ".*", {git, "git://github.com/nifoc/katja", {tag, "v0.5"}}}
]}.

{erl_opts, [
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_shadow_vars,
  warn_obsolete_guard,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars,
  warnings_as_errors
]}.
